body {
  font-family: Arial;
  text-align: center;
  margin-top: 40px;
}

#card {
  width: 320px;
  height: 160px;
  border: 2px solid black;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
  background: #f5f5f5;
}
button {
  padding: 8px 15px;
  margin: 5px;
  font-size: 16px;
}
input {
  padding: 6px;
  margin: 5px;
  font-size: 16px;
}
